* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 75px;
    height: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}


.floor {
    width: 100%;
    position: absolute;
    
}

.floor-1{
    position: absolute;
    z-index: 1;
    animation: floor-animation-1 1.8s infinite linear;
}

@keyframes floor-animation-1 {
    0%{
        right: 0%;
    }
    100%{
        right: 100%;    
    }
}

.floor-2{
    position: absolute; 
    right: -80%;
    z-index: 10;
    animation: floor-animation-2 10.2s infinite linear;
}

@keyframes floor-animation-2 {
    0%{
        right: 50%;
    }
    100%{
        right: 100%;    
    }
}

.floor-3{
    position: absolute;  
    right: -100%;
    z-index: 10;
    animation: floor-animation-3 12.1s infinite linear;
}

@keyframes floor-animation-3 {
    0%{
        right: 10%;
    }
    100%{
        right: 100%;    
    }
}


.gameOver{
    position: relative;
    margin-top: 50px;
    margin-left: 45%;
    top: 150px;
    max-width: 300px;
    display: none;
    
}

#play{
    position: relative;
    left: 50%;
    top: 50px;
    background-color: gray;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    
}


@keyframes pipe-animation {
    from {
        right: -78px;
    }

    to {
        right: 100%;
    }

}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes floor-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}
